:root{
    --lilas: #7E139C;
    --bege-claro: #F0EBE3;
    --branco: #FFF;
    --cinza-claro: #F0EBE3;
    --fonte-roboto: 'Roboto', sans-serif;
    --fonte-gentium: 'Gentium Book Plus', serif;
    --verde-claro: #62FB80;
    --verde-medio: #17CC42;
    --verde-escuro: #0B6620;
    --vermelho: #F94C66;
    --vermelho-escuro: #DB0707;
    --azul-claro: #20BDF5;
}

body{
    background-color: #212121;
}

.principal{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
}

.principal__secao{
    background-color: var(--bege-claro);
    border: none;
    border-radius: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    position: fixed;
}

form {
    text-align: center;
    height: 50px;
    
}

#botoes {
    
}

#tarefa {
    height: 30px;
}

.principal__input{
    background-color: #c1d3c4;
    color: #1113A6;
    font-size: 20px;
    margin-bottom: 1rem;
    width: 40vw;
    height: 100vh;
}

.principal__tarefa{
    font-family: var(--fonte-roboto);
    color: #FFF;
    font-size: 30px;
}

.titulo__principal{
    font-family: var(--fonte-gentium);
    text-align: center;
    color: #FFF;
    font-size: 40px;
}

.botao__remover{
    background-color: var(--vermelho-escuro);
    border: none;
    border-radius: 1rem;
    padding: 0.6rem;
    color: #FFF;
}

.botao__adicionar{
    background-color: var(--verde-medio); 
    border: none;
    border-radius: 1rem;
    padding: 0.6rem;
    margin-bottom: 1rem;
    color: #FFF;
}

.botao__remover:hover{
    background-color: var(--vermelho);
    color: var(--bege-claro);
    transition: 0.3s;
}

.botao__adicionar:hover{
    background-color: var(--verde-claro);
    color: var(--bege-claro);
    transition: 0.3s;
}

.lista__itens{
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem;
    text-decoration: none;
    list-style: square;
}

.lista__itens:hover{
    background-color: var(--verde-claro);
    transition: 0.3s;
}

.lista__itens--oculto{
    display: none;
}

.item__selecionado{
    background-color: var(--verde-claro);
}