@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

@import url('http://fonts.cdnfonts.com/css/chloreal');

* {
    
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0b182f;
}

h1 {
    color: #28a745;
    font-family: 'Chloreal', sans-serif;
    font-size: 100px;
}

#lista {
    font-family: 'Open Sans', sans-serif;
                                                
}